* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 35px;
  text-align: left;
  /* padding: 24px; */
}

.nav {
  position: absolute;
  top: 15px;
  left: 45px;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s ease-out;
  transition-property: font-weight, text-shadow, left;
}

.nav:focus,
.nav:hover {
  font-weight: 500;
  left: 35px;
}

.item {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 16px;
}

.item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
