.main {
  margin-top: 35px;
  text-align: left;
  /* padding: 24px; */
}

.item {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 16px;
}

.item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.emoji {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.item ul li:hover .emoji,
.item ul li:focus .emoji {
  opacity: 1;
}
