#name-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2e2f42;

  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
}

#name-input:focus {
  border-color: #000;
}

#name-input::placeholder {
  color: #2e2f42;
}

h1 {
  margin: 16px 0 24px;

  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
